<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #instruction {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>


    <button id="print">PRINT (only press this if ready-to-print)</button>
    <button id="pen-loaded">PEN LOADED (only press this if new pen loaded)</button>


    <div id="state"></div>
    <div id="instruction"></div>
    <div id="preview"></div>
    <script type="module">
        async function queryState() {
            const response = await fetch('/api/axidraw/state');
            const data = await response.json();
            console.log(data);
            document.querySelector('#state').innerText = JSON.stringify(data, null, 2);
            document.querySelector('#instruction').innerText = '';
            if (data.state === "ready-to-print") {
                const color = data.file.color;
                document.querySelector('#instruction').innerText = `Please put paper, load ${color} pen and press PRINT.`;
            } else if (data.state === "wait-for-pen-swap") {
                const color = data.file.color;
                document.querySelector('#instruction').innerText = `Please load ${color} pen and press PEN LOADED.`;
            } else if (data.state === "printing") {
                document.querySelector('#instruction').innerText = `Printing...`;
            }
            if (data.file) {
                document.querySelector('#preview').innerHTML = `<img src="${data.file.filename}">`;

            } else {
                document.querySelector('#preview').innerHTML = '';

            }
        }
        setInterval(queryState, 500);
        document.querySelector("#print").addEventListener('click', () => {
            fetch('/api/axidraw/print', {
                method: 'POST',
            });
        })
        document.querySelector("#pen-loaded").addEventListener('click', () => {
            fetch('/api/axidraw/pen-loaded', {
                method: 'POST',
            });
        })



    </script>
</body>

</html>