body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.main-nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

.site-title {
    font-size: 1.5em;
    font-weight: 700;
}

aside {
    width: 250px;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    height: calc(100% - 56px); /* Adjust based on header height */
    overflow-y: auto; /* Make aside scrollable */
    margin-top: 56px; /* Adjust based on header height */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #c1c1c1 #f1f1f1; /* For Firefox */
}

/* Add margin-bottom to the last child */
.sidebar-nav > .dropdown:last-child {
    margin-bottom: 30px;
}

/* Custom scrollbar styles */
aside::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* Show scrollbar when scrolling */
aside:hover::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
}

aside:hover::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

aside:hover::-webkit-scrollbar-thumb {
    background-color: #c1c1c1; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 2px solid #f1f1f1; /* Adds space around the thumb */
}

.sidebar-nav .nav-title {
    font-size: 1em;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    text-decoration: none; /* Style as link */
}

.sidebar-nav .nav-header {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    cursor: pointer;
    justify-content: flex-start;
    padding-left: 0;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-header .em {
    font-size: 0.6em;
    margin-right: 10px;
}

.nav-header:hover,
.nav-header.active {
    color: #007bff;
}

nav.sidebar-nav a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

nav.sidebar-nav a:hover {
    background-color: #f8f8f8;
}

nav.sidebar-nav a.active {
    background-color: #e8e8e8;
    font-weight: bold;
}

nav.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}  

nav.main-nav .logo {
    height: 40px; /* Adjust based on your logo's height */
}

nav.main-nav .logo-title {
    display: flex;
    align-items: center; /* Ensure vertical alignment */
    gap: 10px;
}

nav.main-nav .site-title {
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap; /* Prevent the text from wrapping */
}

nav.main-nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
}

.dropdown {
    position: relative;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    transition: transform 0.3s;
    margin-left: auto;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    padding-left: 20px;
}

.dropdown.open .dropdown-menu {
    opacity: 1;
    max-height: 200px;
}

.dropdown.open .arrow {
    transform: rotate(45deg);
}

main {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 300px;
    margin-top: 56px; /* Adjust based on header height */
    flex-grow: 1;
    max-width: calc(100% - 320px);
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #333;
    font-weight: 400;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    aside {
        width: 200px;
    }
    main {
        margin-left: 220px;
        margin-right: 10px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    aside {
        width: 150px;
    }
    main {
        margin-left: 170px;
        margin-right: 5px;
        padding: 5px;
    }
}

.active-link {
    font-weight: 600;
}

#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
}

.outer-circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ed1c40;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-timing-function: ease-in-out;
}

.middle-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: moveMiddleCircle 3s forwards;
    animation-iteration-count: 1;
}

.inner-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    animation: moveInnerCircle 3s forwards;
    animation-iteration-count: 1;
}

.cover-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    animation: moveCoverScreen 3s forwards;
    animation-iteration-count: 1;
}

.cover-screen::before {
    content: "";
    position: absolute;
    top: -100px; /* Adjust the height of the arc */
    left: 0;
    width: 100%;
    height: 100px; /* Adjust the height of the arc */
    background: black;
    clip-path: ellipse(75% 75% at 50% 100%);
}

@keyframes moveInnerCircle {
    0% {
        top: calc(50% - 15px);
        left: calc(50% - 15px);
    }
    33% {
        top: 10px;
        left: 10px;
    }
    66% {
        top: 5px;
        left: calc(100% - 55px);
    }
    100% {
        top: calc(50% - 25px);
        left: calc(50% - 25px);
    }
}

@keyframes moveMiddleCircle {
    0% {
        transform: translate(5px, 5px);
    }
    33% {
        transform: translate(-5px, -5px);
    }
    66% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideDownText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes expandCircle {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(50);
    }
}

@keyframes slideCoverDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110%);
    }
}

.text-container {
    margin-left: 20px;
    overflow: hidden;
    height: 2em;
}

.text {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    animation: slideDownText 1s forwards;
    animation-delay: 3s;
}
